@import "../../../../../styles/mixin-styles.scss";
.videoContainer {
  @include flex-center(false);
  @include full-screen(true);
  .pauseIcon {
    @include flex-center(false);
    @include position-center();
    font-size: xxx-large;
    color: rgba(255, 255, 255, 0.55);
  }
  .videoPlayer {
    @include flex-center(false);
    @include full-screen(true);
    video {
      @include full-screen(true);
      object-fit: contain;
    }
  }
  .videoDetails {
    position: absolute;
    width: 100%;
    bottom: 0;
    .videoAuthor {
      @include flex-center(true);
      justify-content: normal;
      margin-inline-start: 10px;
      p {
        margin: 10px;
      }
      img {
        @include default-avatar($defaultAvatarSize);
      }
    }
    .VideoInfos {
      color: white;
      margin: 10px;
      p {
        font-size: larger;
      }
      .tags {
        color: gray;
      }
      .SongContainer {
        margin: 8px 10px;
        padding-inline: 10px;
        @include flex-center(true);
        justify-content: space-between;
        border-radius: 20px;
        background-color: rgba(128, 128, 128, 0.544);
        p {
          margin: 10px;
        }
        img {
          @include default-avatar(calc($defaultAvatarSize - 15px));
          @include rotate-animation(5s);
        }
      }
    }
  }
}
