@mixin flex-center($boolRow) {
  display: flex;
  justify-content: center;
  align-items: center;
  @if ($boolRow) {
    flex-direction: row;
  } @else {
    flex-direction: column;
  }
}
@mixin full-screen($procentHeight) {
  width: 100%;
  @if ($procentHeight) {
    height: 100%;
  } @else {
    height: 100vh;
  }
}
@mixin default-avatar($size) {
  max-block-size: $size;
  border-radius: 50%;
}
$defaultAvatarSize: 50px;
@mixin rotate-animation($time) {
  animation: rotateAnimation $time linear infinite;
}
@keyframes rotateAnimation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@mixin position-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
