@import "../../../styles/mixin-styles.scss";
.Main {
  @include full-screen(false);
  height: 90vh;
  position: relative;
  overflow-y: auto;
  overscroll-behavior-y: contain;
  scroll-snap-type: y mandatory;
}
