@import "../../../styles/mixin-styles.scss";
.Main {
  @include flex-center(false);
  @include full-screen(true);
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
  & > div {
    scroll-snap-stop: normal;
  }
  div > div {
    scroll-snap-align: center;
  }
}
